{% extends 'base.html.twig' %}

{% block title %} Contrôle pointage {% endblock title %}

{% block body %}

<link rel="stylesheet" href="css/form.css" type="text/css"/>
<link rel="stylesheet" href="css/tableau.css" type="text/css"/>
<h1>{{ title }}</h1>

<section class="form">
    <form action="" method="POST">
        {% if matricule %}
            <input type="text" name="matricule" placeholder="N° Matricule" value="{{ matricule }}">
        {% else %}
            <input type="text" name="matricule" placeholder="N° Matricule">
        {% endif %}
        {% if chantier %}
            <input type="text" name="chantier" placeholder="N° Chantier" value="{{ chantier }}">
        {% else %}
            <input type="text" name="chantier" placeholder="N° Chantier">
        {% endif %}
        {% if date %}
            <input type="date" name="date" placeholder="Date" value="{{ now }}">
        {% else %}
            <input type="date" name="date" placeholder="Date" value="">
        {% endif %}
        <button type="submit">Vérifier</button>
    </form>
</section>
<section class="tableau">
	<table>
        <tr>
            <td>Matricule</td>
            <td>Chantier</td>
            <td>Date pointage</td>
            <td>Temps de travail</td>
		</tr>
        {% for check in checks %}
            <tr>
                <td>{{ check.matricule }}</td>
                <td>{{ check.chantier }}</td>
                <td>{{ check.date|date('d/m/Y') }}</td>
                {% if check.time|date('h:m:s') == date('00:00:00') %}
                    <td title="Process en cours"><i class="fa-solid fa-xmark"></i> xx:xx:xx</td>
                {% else %}
                    <td title="Process terminé"><i class="fa-solid fa-check"></i> {{ check.time|date('h:m:s') }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
